<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Video Factory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="animation_container" class="animationContainer">
		<main></main>
		<div id="animation_loader" class="animationLoader"></div>
	</div>
</body>
</html>
